@page
@model MyRazorPage.Pages.Account.SignInModel
@{
}
<div id="form">
    <div id="form-title">
        <span><a href="~/account/signup">SIGN UP</a></span>
        <span><a href="~/account/signin" style="color: red;">SIGN IN</a></span>
    </div>
    <div id="form-content">
        <!--<div class="msg-error" style="text-align:left">@ViewData["message"]</div>-->
        <form action="" method="post">
            <label>Email<span style="color: red;">*</span></label><br />
            <input type="text" asp-for="account.Email" /><br />
            <span class="msg-error" asp-validation-for="account.Email"></span><br />
            <label>Password<span style="color: red;">*</span></label><br />
            <input type="password" asp-for="account.Password" /><br />
            <span class="msg-error" asp-validation-for="account.Password" ></span><br />
            <div><a href="/account/forgot">Forgot password?</a></div>
            <input type="submit" value="SIGN IN" /><br />
            <input type="button" value="FACEBOOK LOGIN" style="background-color: #3b5998;" /><br />
            <input type="button" value="ZALO LOGIN" style="background-color: #009dff;margin-bottom: 30px;" />
        </form>
    </div>
</div>
